<table>
    <thead>
        <tr>
            <th>Menu item</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in orderButton.tableData)
        {
            <tr>
                <td>@item.Key</td>
                <td>@item.Value</td>
            </tr>
        }
    </tbody>
</table>

<h3>Total:</h3>