@foreach (var sauceItem in orderMenuRoot.SauceItems)
{
    <button class="sauce-button" @onclick="@AddMenuItemToReciept">
        <span class="sauce-button-menu">@sauceItem.Key</span>
        <span class="sauce-button-price">@sauceItem.Value</span>
    </button>
}