@using LitvaKebabs.Components;
@page "/ordermenu"

<PageTitle>Order menu</PageTitle>

<h1>Order menu</h1>
<div class="container-fluid align-content-start">
<div class="align-content-around">
<PostcodeLookup/>
    </div>
<OrderButton/>
<SauceButton/>

<ReceiptComponent/>
</div>