################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/LitvaKebabs/.vs
/LitvaKebabs/obj
/LitvaKebabs/bin/Debug/net7.0
/LitvaKebabs/TextFile.txt
