<!DOCTYPE html>
<html>
<head>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.16/dist/tailwind.min.css" rel="stylesheet">
    <link rel="icon" href="pics/favicon.jpg" type="image/x-icon" />
    <title>Order</title>
    <style>
        body {
          font-family: "Arial", sans-serif;
          background-color: #f5f5f5;
          color: #333;
        }
  
        .footer {
            margin-top: auto;
        }
        .container {
          max-width: 1200px;
          margin: 0 auto;
          padding: 20px;
        }
  
        h2 {
          font-size: 24px;
          margin: 20px 0;
          padding: 10px;
        }
  
        .menu-item {
          border: 1px solid #ddd;
          margin: 20px;
          padding: 20px;
          border-radius: 10px;
          text-align: center;
          background-color: #fff;
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
        }
  
        .menu-item img {
          max-width: 100%;
          height: auto;
          border-radius: 5px;
        }
  
        .quantity {
          width: 50px;
          text-align: center;
        }
  
        .order-button {
          background-color: #3498db;
          color: #fff;
          padding: 10px 20px;
          border: none;
          border-radius: 5px;
          cursor: pointer;
        }
  
        .order-button:hover {
          background-color: #2980b9;
        }
        .header {
            min-width: 300px; 
        }

        html {
            height: 100%;
        }
        body {
            min-height: 100%;
            display: flex;
            flex-direction: column;
        }
        
        .footer {
            margin-top: auto;
        }

        /* Mobile menu */
        .mobile-menu {
            display: none;
        }

        .active-link {
            position: relative;
            border-radius: 8px; 
            background-color: #3182ce;
            padding: 0.5rem 1rem; 
            color: #fff; 
            display: inline-block;
        }

        @media (max-width: 768px) {
            nav {
                flex-direction: column;
                align-items: flex-start;
            }

            .hamburger {
                display: block;
                position: relative;
                z-index: 2; 
            }

            .menu-links {
                display: none;
                flex-direction: column;
                width: 100%;
                text-align: center;
                background-color: #3182ce;
                padding: 1rem;
                position: absolute;
                top: 60px;
                left: 0;
                z-index: 1;
            }

            .menu-links a {
                padding: 1rem;
                margin: 0.5rem;
                border-radius: 4px;
            }

            .menu-links.active {
                display: flex;
            }

            .close-btn {
                text-align: right;
                margin-bottom: 1rem;
                display: block;
                margin-left: auto;
                margin-right: 1rem;
            }

            .close-btn span {
                display: block;
            }
        }

        @media (min-width: 769px) {
            .close-btn {
                display: none;
            }
        }
        
    </style>
</head>
<body>
  <nav class="bg-blue-500 p-4 text-white flex items-center justify-between">
    <div class="flex items-center">
        <h1 class="text-3xl mr-4 w-48">Litva Kebabs</h1>
        <div class="hidden md:block border-l border-white h-6 mx-4"></div>
        <div class="hidden md:flex space-x-4 menu-links">
            <a href="/signout">Sign Out</a>
            <a href="/home">Home</a>
            <a href="/profile">Profile</a>
            <a href="/order" class="active-link">Order</a>
            <a href="/restaurant">Restaurant</a>
            <a href="/reviews">Reviews</a>
        </div>
    </div>
    <div class="md:hidden">
        <button class="hamburger text-white focus:outline-none">
            &#9776;
        </button>
    </div>
</nav>

    <h2>Food Menu</h2>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4">
      <!-- Food Menu Items -->
      {{ range .FoodMenu }}
      <div class="menu-item">
        <span class="text-xl mb-4">{{ .Name }} - ${{ .Price }}</span>
        <img src="/pics/{{ .Name }}.jpg" alt="{{ .Name }}" />

        <div class="my-4">
          <input
            type="number"
            class="quantity"
            value="1"
            id="food-quantity-{{ .Name }}"
          />
          <button
            class="order-button"
            onclick="addToOrder('{{ .Name }}', 'food')"
          >
            Add to Order
          </button>
        </div>
      </div>
      {{ end }}
    </div>
    
    <h2>Drink Menu</h2>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4">
      <!-- Drink Menu Items -->
      {{ range .DrinkMenu }}
      <div class="menu-item">
        <span class="text-xl mb-4">{{ .Name }} - ${{ .Price }}</span>
        <img src="/pics/{{ .Name }}.jpg" alt="{{ .Name }}" />
        <div class="my-4">
          <input
            type="number"
            class="quantity"
            value="1"
            id="drink-quantity-{{ .Name }}"
          />
          <button
            class="order-button"
            onclick="addToOrder('{{ .Name }}', 'drink')"
          >
            Add to Order
          </button>
        </div>
      </div>
      {{ end }}
    </div>
    

    <div class="mt-8">
      <h2>Order Summary</h2>
      <div class="bg-white rounded-lg shadow-md p-4">
        <div id="order-summary"></div>
        <div id="total-cost" class="mt-4 text-xl font-semibold"></div>
        <button id="confirm-order-button" class="mt-4 order-button w-full">
          Confirm Order
        </button>
      </div>
    </div>
  </div>

  <div id="order-modal" class="fixed z-10 inset-0 overflow-y-auto hidden">
    <div
      class="flex items-center justify-center min-h-screen p-4 text-center sm:block sm:p-0"
    >
      <div class="fixed inset-0 transition-opacity">
        <div class="absolute inset-0 bg-gray-500 opacity-75"></div>
      </div>

      <span class="hidden sm:inline-block sm:align-middle sm:h-screen"></span
      >&#8203;

      <div
        class="inline-block align-bottom bg-white rounded-lg text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-lg sm:w-full"
      >
        <div class="bg-white px-4 pt-5 pb-4 sm:p-6 sm:pb-4">
          <h3 class="text-lg font-medium">Confirm Your Order</h3>

          <div class="mt-4 space-y-4">
            <input
              type="text"
              placeholder="Name"
              class="block w-full rounded-md border-gray-300 shadow-sm focus:ring focus:ring-blue-500 focus:border-blue-500"
            />
            <input
              type="email"
              placeholder="Email"
              class="block w-full rounded-md border-gray-300 shadow-sm focus:ring focus:ring-blue-500 focus:border-blue-500"
            />
            <input
              type="text"
              placeholder="Address"
              class="block w-full rounded-md border-gray-300 shadow-sm focus:ring focus:ring-blue-500 focus:border-blue-500"
            />
            <input
              type="text"
              placeholder="PostCode (SS13 0PW)"
              class="block w-full rounded-md border-gray-300 shadow-sm focus:ring focus:ring-blue-500 focus:border-blue-500"
            />
          </div>
        </div>

       
        <div class="bg-white px-4 py-4 sm:p-6">
          <h2 class="text-lg">Order Summary</h2>
          <div id="order-summary-modal" class="mt-4"></div>
        </div>

        <div class="bg-gray-100 px-4 py-4 sm:p-6">
          <h2 class="text-lg">Payment</h2>

          <div class="mt-4">
            <label
              for="card-number"
              class="block text-sm font-medium text-gray-700"
              >Card Number</label
            >
            <input
              type="text"
              id="card-number"
              name="card-number"
              class="block w-full rounded-md border-gray-300 shadow-sm focus:ring focus:ring-blue-500 focus:border-blue-500"
            />
          </div>
          <div class="mt-4">
            <label
              for="expiry"
              class="block text-sm font-medium text-gray-700"
              >Expiry Date</label
            >
            <input
              type="text"
              id="expiry"
              name="expiry"
              class="block w-full rounded-md border-gray-300 shadow-sm focus:ring focus:ring-blue-500 focus:border-blue-500"
            />
          </div>
          <div class="mt-4">
            <label for="cvv" class="block text-sm font-medium text-gray-700"
              >CVV</label
            >
            <input
              type="text"
              id="cvv"
              name="cvv"
              class="block w-full rounded-md border-gray-300 shadow-sm focus:ring focus:ring-blue-500 focus:border-blue-500"
            />
          </div>
        </div>

        <div class="bg-gray-50 px-4 py-3 sm:px-6 sm:flex sm:flex-row-reverse">
          <button
            id="close-modal-button"
            class="w-full inline-flex justify-center rounded-md border border-transparent shadow-sm px-4 py-2 bg-blue-500 text-base font-medium text-white hover-bg-blue-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500 sm:ml-3 sm:w-auto sm:text-sm"
          >
            Confirm
          </button>
          <button
            id="cancel-modal-button"
            class="mt-3 w-full inline-flex justify-center rounded-md border border-gray-300 shadow-sm px-4 py-2 bg-white text-base font-medium text-gray-700 hover-bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500 sm:mt-0 sm:w-auto sm:text-sm"
          >
            Cancel
          </button>
        </div>
      </div>
    </div>
  </div>

  <!--i cant lie, i have no words for this. what on earch is happening. this modal is not being used at any point. and yet, if i remove it, the entire website will just break-->
  <div
    id="order-summary-modal"
    class="fixed z-10 inset-0 overflow-y-auto hidden"
  >
    <div
      class="flex items-center justify-center min-h-screen p-4 text-center sm:block sm:p-0"
    >
      <div class="fixed inset-0 transition-opacity">
        <div class="absolute inset-0 bg-gray-500 opacity-75"></div>
      </div>

      <span class="hidden sm:inline-block sm:align-middle sm:h-screen"></span
      >&#8203;

      <div
        class="inline-block align-bottom bg-white rounded-lg text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-lg sm:w-full"
      >
        <div class="bg-white px-4 pt-5 pb-4 sm:p-6 sm:pb-4">
          <h3 class="text-lg font-medium">Order Summary</h3>

          <div id="order-summary-content" class="mt-4"></div>
        </div>

        <div class="bg-gray-50 px-4 py-3 sm:px-6 sm:flex sm:flex-row-reverse">
          <button
            id="close-order-summary-modal"
            class="w-full inline-flex justify-center rounded-md border border-transparent shadow-sm px-4 py-2 bg-blue-500 text-base font-medium text-white hover-bg-blue-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500 sm:ml-3 sm:w-auto sm:text-sm"
          >
            Close
          </button>
        </div>
      </div>
    </div>
  </div>

  <footer class="bg-gray-200 text-center py-4 mt-8 footer">
    <p>&copy; 2023 Litva Kebabs. All rights reserved.</p>
</footer>

  <script>
    document.addEventListener("DOMContentLoaded", () => {
            const hamburger = document.querySelector('.hamburger');
            const menuLinks = document.querySelector('.menu-links');
            const closeButton = document.querySelector('.close-btn');

            hamburger.addEventListener('click', () => {
                menuLinks.classList.toggle('active');
                closeButton.classList.toggle('hidden');
            });

            closeButton.addEventListener('click', () => {
                menuLinks.classList.remove('active');
                closeButton.classList.add('hidden');
            });
        });

    let order = { food: {}, drink: {} };

    let foodMenuData = JSON.parse("{{ .FoodMenuJSON }}");
    let drinkMenuData = JSON.parse("{{ .DrinkMenuJSON }}");


    function addToOrder(name, category) {
      const quantityInput = $(`#${category}-quantity-${name}`);
      let quantity = parseInt(quantityInput.val());

      if (quantity <= 0) {
        quantity = 1;
      }

      let price = 0;
      let menuData = category === "food" ? foodMenuData : drinkMenuData;

      for (const menuItem of menuData) {
        if (menuItem.name === name) {
          price = menuItem.price;
          break;
        }
      }

      if (!order[category][name]) {
        order[category][name] = { quantity: 0, price: 0 };
      }

      order[category][name].quantity += quantity;
      order[category][name].price = price;

      updateOrderSummary();
      quantityInput.val(1);
    }

    function removeFromOrder(name, category) {
      if (order[category] && order[category][name]) {
        const quantityInput = $(`#${category}-quantity-${name}`);
        let quantity = parseInt(quantityInput.val());

        if (quantity <= 1) {
          delete order[category][name];
        } else {
          order[category][name].quantity = quantity - 1;
        }

        updateOrderSummary();
        quantityInput.val(1);
      }
    }

    function updateOrderSummary() {
      let summaryHtml = "<h3>Food:</h3>";
      let foodTotalCost = 0;
      summaryHtml += "<ul>";
      for (const name in order.food) {
        const item = order.food[name];
        const quantity = item.quantity;
        const price = item.price;
        const itemCost = price * quantity;
        foodTotalCost += itemCost;
        summaryHtml += `<li>${name}: ${quantity} <button onclick="removeFromOrder('${name}', 'food')">Remove</button></li>`;
      }
      summaryHtml += "</ul>";

      summaryHtml += "<h3>Drink:</h3>";
      let drinkTotalCost = 0;
      summaryHtml += "<ul>";
      for (const name in order.drink) {
        const item = order.drink[name];
        const quantity = item.quantity;
        const price = item.price;
        const itemCost = price * quantity;
        drinkTotalCost += itemCost;
        summaryHtml += `<li>${name}: ${quantity} <button onclick="removeFromOrder('${name}', 'drink')">Remove</button></li>`;
      }
      summaryHtml += "</ul>";

      const totalCost = foodTotalCost + drinkTotalCost;
      summaryHtml += `<h3>Total Cost: $${totalCost.toFixed(2)}</h3>`;

      $("#order-summary").html(summaryHtml);
      $("#order-summary-modal").html(summaryHtml);
    }

    function updateOrderReceipt() {
      const name = document.querySelector(
        '#order-modal input[placeholder="Name"]'
      );
      const email = document.querySelector(
        '#order-modal input[placeholder="Email"]'
      );
      const address = document.querySelector(
        '#order-modal input[placeholder="Address"]'
      );
      const paymentOptions = document.querySelector(
        '#order-modal input[placeholder="Payment options"]'
      );

      if (name && email && address && paymentOptions) {
        const nameValue = name.value;
        const emailValue = email.value;
        const addressValue = address.value;
        const paymentOptionsValue = paymentOptions.value;

        const orderReceipt = `
                  <p><strong>Name:</strong> ${nameValue}</p>
                  <p><strong>Email:</strong> ${emailValue}</p>
                  <p><strong>Address:</strong> ${addressValue}</p>
                  <p><strong>Payment options:</strong> ${paymentOptionsValue}</p>
              `;

        const orderReceiptElement = document.getElementById("order-receipt");
        orderReceiptElement.innerHTML = orderReceipt;

        // Update the order summary in the modal
        const orderSummaryModal = document.getElementById(
          "order-summary-modal"
        );
        orderSummaryModal.innerHTML = generateOrderSummary();
      }
    }

    function generateOrderSummary() {
      let summaryHtml = "<h3>Food:</h3>";
      let foodTotalCost = 0;
      summaryHtml += "<ul>";
      for (const name in order.food) {
        const item = order.food[name];
        const quantity = item.quantity;
        const price = item.price;
        const itemCost = price * quantity;
        foodTotalCost += itemCost;
        summaryHtml += `<li>${name}: ${quantity} <button onclick="removeFromOrder('${name}', 'food')">Remove</button></li>`;
      }
      summaryHtml += "</ul>";

      summaryHtml += "<h3>Drink:</h3>";
      let drinkTotalCost = 0;
      summaryHtml += "<ul>";
      for (const name in order.drink) {
        const item = order.drink[name];
        const quantity = item.quantity;
        const price = item.price;
        const itemCost = price * quantity;
        drinkTotalCost += itemCost;
        summaryHtml += `<li>${name}: ${quantity} <button onclick="removeFromOrder('${name}', 'drink')">Remove</button></li>`;
      }
      summaryHtml += "</ul>";

      const totalCost = foodTotalCost + drinkTotalCost;
      summaryHtml += `<h3>Total Cost: $${totalCost.toFixed(2)}</h3>`;

      return summaryHtml;
    }

    function isFormValid() {
  const name = document.querySelector('#order-modal input[placeholder="Name"]').value.trim();
  const email = document.querySelector('#order-modal input[placeholder="Email"]').value.trim();
  const address = document.querySelector('#order-modal input[placeholder="Address"]').value.trim();
  const postcode = document.querySelector('#order-modal input[placeholder="PostCode (SS13 0PW)"]').value.trim();
  const cardNumber = document.getElementById('card-number').value.trim();
  const expiry = document.getElementById('expiry').value.trim();
  const cvv = document.getElementById('cvv').value.trim();

  return name !== '' && email !== '' && address !== '' && postcode !== '' && cardNumber !== '' && expiry !== '' && cvv !== '';
}

document.getElementById("close-modal-button").addEventListener("click", function () {
  const isValid = isFormValid();

  if (isValid) {
    const name = document.querySelector('#order-modal input[placeholder="Name"]').value;
    const address = document.querySelector('#order-modal input[placeholder="Address"]').value;
    const totalCost = calculateTotalCost();
    const deliveryTime = Math.floor(Math.random() * 31) + 30;

    
    const orderDetails = getOrderDetails();


    const orderConfirmation = `Thank you for your order, ${name}! Your order will be delivered to ${address} in approximately ${deliveryTime} minutes.\n\nOrder Details:\n${orderDetails}\nOrder Total: $${totalCost.toFixed(2)}`;

    alert(orderConfirmation);

    const orderModal = document.getElementById("order-modal");
    orderModal.classList.add("hidden");
  } else {
    alert("Please fill in all fields to confirm the order.");
  }
});

    document
      .getElementById("close-order-summary-modal")
      .addEventListener("click", function () {
        const orderSummaryModal = document.getElementById(
          "order-summary-modal"
        );
        orderSummaryModal.classList.add("hidden");
      });

    function isOrderEmpty() {
  return Object.keys(order.food).length === 0 && Object.keys(order.drink).length === 0;
}

document.getElementById("confirm-order-button").addEventListener("click", function () {
  if (isOrderEmpty()) {
    alert("Your basket is empty. Please add items before confirming the order.");
  } else {
    const orderModal = document.getElementById("order-modal");
    orderModal.classList.remove("hidden");
  }
});

    document
      .getElementById("cancel-modal-button")
      .addEventListener("click", function () {
        const orderModal = document.getElementById("order-modal");
        orderModal.classList.add("hidden");
      });
    
    function displayOrderSummaryModal() {
      const orderSummary = generateOrderSummary();
      const modalContent = document.getElementById("order-summary-content");
      modalContent.innerHTML = orderSummary;
    }

    function calculateTotalCost() {
      let foodTotalCost = 0;
      for (const name in order.food) {
        const item = order.food[name];
        const quantity = item.quantity;
        const price = item.price;
        const itemCost = price * quantity;
        foodTotalCost += itemCost;
      }

      let drinkTotalCost = 0;
      for (const name in order.drink) {
        const item = order.drink[name];
        const quantity = item.quantity;
        const price = item.price;
        const itemCost = price * quantity;
        drinkTotalCost += itemCost;
      }

      const totalCost = foodTotalCost + drinkTotalCost;
      return totalCost;
    }

    function getOrderDetails() {
      const foodDetails = getOrderCategoryDetails(order.food, "Food");
      const drinkDetails = getOrderCategoryDetails(order.drink, "Drink");
      return `${foodDetails}${drinkDetails}`;
    }

    function getOrderCategoryDetails(category, categoryName) {
      let details = "";
      for (const name in category) {
        const item = category[name];
        const quantity = item.quantity;
        const price = item.price;
        const itemCost = price * quantity;
        details += `${name}: ${quantity} x $${price.toFixed(
          2
        )} = $${itemCost.toFixed(2)}\n`;
      }
      if (details) {
        return `${categoryName}:\n${details}\n`;
      }
      return "";
    }
  </script>
</body>
</html>